In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
df = pd.read_csv('agg_2024.csv')
# df = df[df['Wk'] == 1.0]
df

,HMin,HGls,HAst,HPK,HPKatt,HSh,HSoT,HCrdY,HCrdR,HTouches,...,AInt.2,ATklW.1,APKwon,APKcon,AOG,ARecov,AWon,ALost.1,AWon%,match_id
0,989,0,0,0,0,6,1,0,1,496,...,4,12,0,0,0,54,13,13,50.0,0
1,990,2,2,0,0,15,7,2,0,902,...,8,10,0,0,0,34,20,12,62.5,1
2,990,0,0,0,0,19,9,0,0,531,...,4,4,0,0,0,43,14,9,60.9,2
3,990,0,0,0,0,8,1,3,0,441,...,4,9,0,0,0,55,31,13,70.5,3
4,990,4,2,1,1,26,11,2,0,769,...,9,12,0,1,0,41,21,12,63.6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,990,2,2,0,0,10,5,4,0,606,...,8,10,0,0,0,56,4,9,30.8,375
376,990,2,1,0,0,16,6,2,0,695,...,12,16,0,0,0,49,14,12,53.8,376
377,990,5,4,0,0,15,9,1,0,663,...,2,2,0,0,0,28,9,9,50.0,377
378,990,2,1,0,0,36,13,1,0,779,...,3,11,0,0,0,35,4,14,22.2,378
379,990,1,1,0,0,20,3,1,0,787,...,16,11,0,0,0,39,15,11,57.7,379

In [9]:
columns_starting_with_A = ['match_id'] + [col for col in df.columns if col.startswith('A')]
df[columns_starting_with_A]

,match_id,AMin,AGls,AAst,APK,APKatt,ASh,ASoT,ACrdY,ACrdR,...,ACrs.1,AInt.2,ATklW.1,APKwon,APKcon,AOG,ARecov,AWon,ALost.1,AWon%
0,0,990,3,2,0,0,17,8,0,0,...,15,4,12,0,0,0,54,13,13,50.0
1,1,990,1,1,0,0,6,2,2,0,...,6,8,10,0,0,0,34,20,12,62.5
2,2,990,1,0,0,0,9,2,2,0,...,11,4,4,0,0,0,43,14,9,60.9
3,3,990,1,1,0,0,24,8,0,0,...,17,4,9,0,0,0,55,31,13,70.5
4,4,990,1,0,1,1,8,2,2,0,...,22,9,12,0,1,0,41,21,12,63.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,990,4,3,0,0,12,7,4,0,...,8,8,10,0,0,0,56,4,9,30.8
376,376,990,0,0,0,0,22,5,3,0,...,20,12,16,0,0,0,49,14,12,53.8
377,377,990,0,0,0,0,8,2,4,0,...,10,2,2,0,0,0,28,9,9,50.0
378,378,927,0,0,0,0,4,2,1,1,...,5,3,11,0,0,0,35,4,14,22.2
379,379,990,2,2,0,0,12,6,0,0,...,8,16,11,0,0,0,39,15,11,57.7

In [11]:
columns_starting_with_A = ['match_id'] + [col for col in df.columns if col.startswith('H')]
df[columns_starting_with_A]

,match_id,HMin,HGls,HAst,HPK,HPKatt,HSh,HSoT,HCrdY,HCrdR,...,HCrs.1,HInt.2,HTklW.1,HPKwon,HPKcon,HOG,HRecov,HWon,HLost.1,HWon%
0,0,989,0,0,0,0,6,1,0,1,...,7,7,8,0,0,0,45,13,13,50.0
1,1,990,2,2,0,0,15,7,2,0,...,14,7,15,0,0,0,48,12,20,37.5
2,2,990,0,0,0,0,19,9,0,0,...,26,13,6,0,0,0,52,9,14,39.1
3,3,990,0,0,0,0,8,1,3,0,...,14,11,11,0,0,0,51,13,31,29.5
4,4,990,4,2,1,1,26,11,2,0,...,23,4,10,1,1,0,50,12,21,36.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,990,2,2,0,0,10,5,4,0,...,17,5,9,0,0,0,53,9,4,69.2
376,376,990,2,1,0,0,16,6,2,0,...,15,9,14,0,0,1,44,12,14,46.2
377,377,990,5,4,0,0,15,9,1,0,...,10,3,13,0,0,0,46,9,9,50.0
378,378,990,2,1,0,0,36,13,1,0,...,25,8,13,0,0,0,53,14,4,77.8
379,379,990,1,1,0,0,20,3,1,0,...,18,9,7,0,0,0,45,11,15,42.3